{{ partial "head.html" . }}

<body {{ if .Params.id }} id='{{ .Params.id }}'{{end}} class="single-default single-memorandums">

{{ partial "header.html" . }}

<section id="banner">
    {{if .Params.image}} 
    <div class="banner-image bg-image"><img src="{{.Params.image}}" /></div>
    {{end}}
    {{if .Params.banner_video}} 
    <div class="banner-image bg-image video-wrapper">
        <iframe src="https://player.vimeo.com/video/{{.Params.banner_video}}?background=1&muted=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
    {{end}}
    <div class="container">
        <div class="row">
            <div class="col col-12 col-md-8 bannerTxtCol">
                <div class="bannerTxtBx animated fadeIn">
                    <div class="postMeta">
                        <div class="backBtn">
                            <a href='{{ "/memorandums/" | relURL }}' class="button btn-xs text-transform-none btn-outline-white">
                                ← Back to All Memorandums
                            </a>
                        </div>
                    </div>
                    <h2>
                        {{if .Params.banner_title}}
                        {{.Params.banner_title|safeHTML}}
                        {{ else}}
                        {{ .Title | safeHTML }}
                        {{end}}
                    </h2>
                    {{if .Params.author}}
                    <div class="bannerAuthor">
                        By {{.Params.author | safeHTML}}
                    </div>
                    {{end}}
                    {{if .Params.banner_tagline}}
                    <div class="bannerTagline">
                        {{.Params.banner_tagline | safeHTML}}
                    </div>
                    {{end}}
                    {{if .Params.summary}}
                    <div class="bannerTxt">{{ .Params.summary | safeHTML}}</div>
                    {{end}}
                    {{if .Params.banner_cta}}
                    <div class="bannerCTA">{{ .Params.banner_cta|safeHTML}}</div>
                    {{end}}
                    {{ if or (.Params.pdf) (.Params.banner_link_label) }}
                    <div class="bannerBtns">
                        {{ if .Params.pdf}}
                        <a class="button btn-xs" href="{{.Params.pdf}}" target="_blank">View / Download PDF</a>
                        {{end}}
                        {{ if .Params.banner_link_label}}
                        <a class="button btn-blank" href="{{.Params.banner_link}}">{{.Params.banner_link_label | safeHTML}}</a>
                        {{end}}
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</section>

<main>
    <div class="container">

        <div class="entry">

                {{ .Content }}

                {{ if .Params.pdf}}
                <div class="singleBtn pt-3">
                <a class="button btn-xs w-100" href="{{.Params.pdf}}" target="_blank">View / Download PDF</a>
            </div>
                {{end}}
        </div>
    </div>
</main>

{{ partial "footer.html" . }}

{{ partial "scripts.html" . }}

</body>
</html>