<footer role="contentinfo">
    <div class="container">
        <div id="footerLogo">
            <a href='{{ "/" | relURL }}'><img src='{{ "img/logo_footer.svg" | relURL }}'
                    alt="{{ .Site.Title }} Logo"></a>
        </div>
        <div id="footerLeft">
            <div id="footerNavBar">
                {{if .Site.Params.donate_link}}
                <div class="footerBtn"><a href="{{.Site.Params.donate_link}}" class="button">DONATE Now →</a></div>
                {{end}}
                <div class="footerNav">
                    <ul>
                        {{ range .Site.Menus.footer }}
                        <li> <a title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a> </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div id="footerSocial">
                {{ partial "social.html" . }}
            </div>
            <div id="copyright">
                Copyright
                <script type="text/javascript">document.write(new Date().getFullYear());</script> - Polaris Action Inc. -
                All Rights Reserved<br>
                <a href="/policies/privacy">Privacy Policy</a> &nbsp; | &nbsp; <a href="/policies/terms">Terms and Conditions</a>
            </div>
            {{ if isset .Site.Params "paid_for" }}
            <div id="paidfor">
                {{ .Site.Params.paid_for }}
            </div>
            {{ end }}
        </div>
    </div>
</footer>