<section class="home-slider" id="banner">
    <div class="banner-slides flexslider">
        <ul class="slides clearfix">
            {{ range first 3 (where (where .Site.RegularPages "Type" "updates") ".Params.featured" "=" true) }}
            <li>
                <div class="banner-slide">
                    {{if .Params.image}}
                    <div class="banner-image bg-image"><img src="{{.Params.image}}" alt="{{.Title}} Img" /></div>
                    {{end}}
                    <div class="container">
                        <div class="row">
                            <div class="col col-12 col-md-7">
                                <div class="headline">
                                    <div class="bannerMeta"> <strong>Featured In The News</strong> <span>-</span> <div class="date">{{ .Date.Format "1.02.2006" }} </div> </div>
                                </div>
                                <h2> {{.Title}}</h2>
                                <div class="bannerTxt">
                                    {{.Summary}}
                                </div>
                                <div class="bannerBtns">
                                    {{ if .Params.cta }}
                                    <a href="{{if .Params.outbound}}{{.Params.outbound}}{{else}}{{.Permalink}}{{end}}" class="button btn-outline">{{.Params.cta | safeHTML}}</a>
                                    {{else}}
                                    <a href="{{if .Params.outbound}}{{.Params.outbound}}{{else}}{{.Permalink}}{{end}}" class="button btn-outline">View Now →</a>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {{end}}
        </ul>
    </div>
    <div class="slider-controls">
        <div class="container">
            <div class="custom-controls-container"></div>
        </div>
    </div>
</section>