<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/jquery.flexslider-min.js" referrerpolicy="no-referrer"></script>
{{ $js := resources.Get "js/plugins.js" }}
{{ $secureJS := $js | resources.Minify }}
<script async src="{{ $secureJS.Permalink }}"></script>

<script>
    deferimg('img[data-src],picture,video,audio')
    Defer.dom('img.lazy', 200, 'loaded');  
</script>