<section id="signup">
   <div class="container">

        <div class="row">
            <div class="col-12 text-center">
                <h2>Subscribe for Updates</h2>
            </div>
        </div>
        <form accept-charset="UTF-8" action='{{ .Site.Params.form_endpoint_signup }}' method="POST" class="aos-item" data-aos="fade-in">
        
            <input type="hidden" name="utm_source" value="">
            <input type="hidden" name="utm_medium" value="">
            <input type="hidden" name="utm_campaign" value="">
        
            <div class="col col-12 col-md-4 labelToggle">
                <label for="first_name">First Name*</label>
                <input type="text" id="first_name" class="formField" name="first_name" placeholder="ex. John or Jane" required>
            </div>
        
            <div class="col col-12 col-md-5 labelToggle">
                <label for="email">Email Address*</label>
                <input type="email" id="email" name="email" placeholder="ex. yourname@email.com" required class="formField labelToggle">
            </div>
        
        
            <div class="col col-12 col-md-3">
                <button type="submit" class="button buttonOutlineWhite">I'm In!</button>
            </div>
        
        </form>
   </div>
    
</section>