<ul class="social-share">
{{ if isset .Site.Params "facebook_link" }}
<li class="social"><a href="{{ .Site.Params.facebook_link }}" target=_blank><i class="fa-brands fa-facebook"></i><span class="sr-only">Facebook</span></a></li>
{{ else }}{{ end }}

{{ if isset .Site.Params "twitter_link" }}
<li class="social"><a href="{{ .Site.Params.twitter_link }}" target=_blank><i class="fa-brands fa-x-twitter"></i><span class="sr-only">Twitter</span></a></li>
{{ else }}{{ end }}

{{ if isset .Site.Params "instagram_link" }}
<li class="social"><a href="{{ .Site.Params.instagram_link }}" target=_blank><i class="fa-brands fa-instagram"></i><span class="sr-only">Instagram</span></a></li>
{{ else }}{{ end }}

{{ if isset .Site.Params "youtube_link" }}
<li class="social"><a href="{{ .Site.Params.youtube_link }}" target=_blank><i class="fa-brands fa-youtube"></i><span class="sr-only">Youtube</span></a></li>
{{ else }}{{ end }}
</ul>